{% block fos_user_content %}
    <form class="form-horizontal" action="{{ path("fos_user_registration_register") }}" {{ form_enctype(form) }} method="post">
        <fieldset>
            <legend>{{ 'form.register.title'|trans }}</legend>

            <div class="form-error">
                {{ form_errors(form.username) }}
            </div>
            <div class="control-group">
                {{ form_label(form.username, 'form.username'|trans, { 'label_attr': {'class': 'control-label'} }) }}
                <div class="controls">
                    {{ form_widget(form.username, { 'attr': {'class': 'input-xlarge'} }) }}
                </div>
            </div>

            <div class="form-error">
                {{ form_errors(form.email) }}
            </div>
            <div class="control-group">
                {{ form_label(form.email, 'form.email'|trans, { 'label_attr': {'class': 'control-label'} }) }}
                <div class="controls">
                    {{ form_widget(form.email, { 'attr': {'class': 'input-xlarge'} }) }}
                </div>
            </div>

            <div class="form-error">
                {{ form_errors(form.plainPassword.first) }}
            </div>
            <div class="control-group">
                {{ form_label(form.plainPassword.first, 'form.password'|trans, { 'label_attr': {'class': 'control-label'} }) }}
                <div class="controls">
                    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'input-xlarge'} }) }}
                </div>
            </div>

            <div class="form-error">
                {{ form_errors(form.plainPassword.second) }}
            </div>
            <div class="control-group">
                {{ form_label(form.plainPassword.second, 'form.password_again'|trans, { 'label_attr': {'class': 'control-label'} }) }}
                <div class="controls">
                    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'input-xlarge'} }) }}
                </div>
            </div>

            {{ form_rest(form) }}

            <div class="button-group">
                <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'form.button.register'|trans }}" />
            </div>
        </fieldset>
    </form>
{% endblock fos_user_content %}
